CONFIG_DIR={{ docker_dir }}/
CACHE_DIR={{ docker_dir }}/cache
MOVIES_DIR={{ media_dir }}/movies
TVSHOWS_DIR={{ media_dir }}/tvshows
MUSIC_DIR={{ media_dir }}/music
DISCOVERY_IP={{ jellyfin_discovery_ip }}