- Storage:
    - Seafile:
        icon: seafile.png
        href: https://files.lab.beyerleinf.de
        siteMonitor: https://files.lab.beyerleinf.de
        server: arya
        container: seafile

    - Paperless:
        icon: paperless-ngx.png
        href: https://paperless.lab.beyerleinf.de
        siteMonitor: https://paperless.lab.beyerleinf.de
        server: arya
        container: seafile
        widget:
          type: paperlessngx
          url: https://paperless.lab.beyerleinf.de
          key: {{ paperless_api_key }}

    - Immich:
        icon: immich.png
        href: https://pics.lab.beyerleinf.de
        siteMonitor: https://pics.lab.beyerleinf.de
        server: arya
        container: immich-server
        widget:
          type: immich
          url: https://pics.lab.beyerleinf.de
          key: {{ immich_api_key }}

- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: https://media.lab.beyerleinf.de
        siteMonitor: https://media.lab.beyerleinf.de/health
        server: arya
        container: jellyfin
        widget:
          type: jellyfin
          url: https://media.lab.beyerleinf.de
          key: {{ jellyfin_api_key }}
          enableBlocks: true
          enableNowPlaying: true
          enableUser: true
          showEpisodeNumber: true
          expandOneStreamToTwoRows: false

- Tools:
    - PiHole:
        icon: pi-hole.png
        href: http://10.0.0.222:8088
        siteMonitor: http://pihole
        server: arya
        container: pihole
        widget:
          type: pihole
          url: http://pihole
          version: 5
          key: {{ pihole_api_key }}

    - UniFi:
        icon: unifi.png
        href: "https://unifi.lab.beyerleinf.de"
        siteMonitor: https://unifi.lab.beyerleinf.de
        server: arya
        container: unifi-network-application
        widget:
          type: unifi
          url: https://unifi.lab.beyerleinf.de
          username: {{ unifi_username }}
          password: {{ unifi_password }}

    - Umami:
        icon: umami-light.png
        href: https://umami.lab.beyerleinf.de
        siteMonitor: https://umami.lab.beyerleinf.de
        server: arya
        container: umami
