title: Home Lab
theme: dark
color: indigo
background:
  image: https://images.unsplash.com/photo-1584965016724-702c7f505a67?q=80&w=2768&auto=format&fit=crop&ixlib=rb-4.0.3
  # blur: sm # sm, "", md, xl... see https://tailwindcss.com/docs/backdrop-blur
  # saturate: 50 # 0, 50, 100... see https://tailwindcss.com/docs/backdrop-saturate
  # brightness: 50 # 0, 50, 75... see https://tailwindcss.com/docs/backdrop-brightness
  opacity: 80
cardBlur: xl
layout:
  Storage:
    style: column
  Media:
    style: column
  Tools:
    style: column
