POSTGRES_DB={{ db_name }}
POSTGRES_USER={{ db_user }}
POSTGRES_PASSWORD={{ db_password }}
AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
MEDIA_DIR={{ media_dir }}
TEMPLATES_DIR={{ templates_dir }}
CERTS_DIR={{ certs_dir }}
