DB_ROOT_PASSWORD={{ seafile_db_root_password }}
SEAFILE_ADMIN_EMAIL={{ seafile_admin_email }}
SEAFILE_ADMIN_PASSWORD={{ seafile_admin_default_password }}
SEAFILE_STORAGE_PATH={{ seafile_dir }}
S3_BUCKET_NAME={{ s3_bucket_name }}
S3_BUCKET_KEY_ID={{ s3_bucket_key_id }}
S3_BUCKET_KEY_SECRET={{ s3_bucket_key_secret }}
S3_BUCKET_REGION={{ s3_bucket_region }}
S3_BUCKET_HOST={{ s3_bucket_host }}
MATRIX_HOST={{ matrix_db_backup_host }}
MATRIX_ROOM={{ matrix_db_backup_room }}
MATRIX_ACCESS_TOKEN={{ matrix_db_backup_access_token }}
