DB_USERNAME={{ immich_db_user }}
DB_PASSWORD={{ immich_db_password }}
DB_DATABASE_NAME={{ immich_db_name }}
IMMICH_VERSION={{ immich_version }}
IMMICH_UPLOAD_DIR={{ immich_upload_dir }}
S3_BUCKET_NAME={{ s3_bucket_name }}
S3_BUCKET_KEY_ID={{ s3_bucket_key_id }}
S3_BUCKET_KEY_SECRET={{ s3_bucket_key_secret }}
S3_BUCKET_REGION={{ s3_bucket_region }}
S3_BUCKET_HOST={{ s3_bucket_host }}
MATRIX_HOST={{ matrix_db_backup_host }}
MATRIX_ROOM={{ matrix_db_backup_room }}
MATRIX_ACCESS_TOKEN={{ matrix_db_backup_access_token }}
