TVSHOWS_DIR={{ tvshows_dir }}
MOVIES_DIR={{ movies_dir }}
MUSIC_DIR={{ music_dir }}
DELUGE_DIR={{ deluge_dir }}
SONARR_DIR={{ sonarr_dir }}
RADARR_DIR={{ radarr_dir }}
LIDARR_DIR={{ lidarr_dir }}
FLARESOLVERR_DIR={{ flaresolverr_dir }}
PROWLARR_DIR={{ prowlarr_dir }}
